<html>
<head>

  <style>
    footer {
      position: relative;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #bd9a7a;
      color: #666;
      text-align: center;
    }
  </style>
</head>
<body>
  <footer>
    <div class="container">
        <div class="row">
        <div class="col-md-6">
            <p>&copy; 2023 Capybara Cinema</p>
        </div>
        <div class="col-md-6">
            <ul class="list-inline text-right">
            <li><a href="../../privacypolicy.php">Privacy Policy</a></li>
            <li><a href="../../termofuse.php">Terms of Use</a></li>
            <li><a href="#">Contact Us</a></li>
            <!-- <li><a style="text-align: center; color: rgba(0,0,0,0.5);" href='manager_view.php'>Manager</a></li>
            <li><a style="text-align: center; color: rgba(0,0,0,0.5);" href='admin_view.php'>Admin</a></li> -->
            </ul>
        </div>
        </div>
    </div>
</footer>
</body>
</html>
